NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/el_lider?schema=public
JWT_SECRET=super-secret-change-me
JWT_EXPIRES_IN=7d
DEFAULT_SHIPPING_COST=3000
PICKUP_ADDRESS=Av. Belgrano 103
ADMIN_EMAIL=admin@ellider.com
ADMIN_PASSWORD=change-me-now
